CONFIG_CROSS_COMPILE="/home/vagrant/project/buildroot/output/host/bin/i686-buildroot-linux-uclibc-"
CONFIG_SYSROOT="/home/vagrant/project/buildroot/output/host/i686-buildroot-linux-uclibc/sysroot"
CONFIG_EXTRA_CFLAGS="-D_LARGEFILE_SOURCE -D_LARGEFILE64_SOURCE -D_FILE_OFFSET_BITS=64  -Os "
CONFIG_BOOTLOADER_GRUB=y
CONFIG_GRUBENV_PATH="/mnt/data/boot/grub/grubenv"
CONFIG_RAW=y
CONFIG_BOOTLOADERHANDLER=y
